{% extends "base_generic.html" %}

{% block content %}
  <h1>Post List</h1>
  {% if post_list %}
  <ul>
    {% for post in post_list %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> ({{post.created}}) - <a href="{{ post.author.author.get_absolute_url }}">{{ post.author.username }}</a>

      </li>
      {% if forloop.last %}
        <p>-------------------------------------</p>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no posts in the blog.</p>
  {% endif %}       
{% endblock %}